.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid green;
  padding: 0 4px;
  margin-top: 1rem;
  outline: none;
}
